:root{
  --background: var(--backgroundLight);
  --foreground: var(--foregroundLight);

  --buttonBackground: var(--buttonBackgroundLight);
  --buttonBorder: var(--buttonBorderLight);

  --buttonBackgroundLight: rgba(225, 225, 225, 1);
  --buttonBorderLight: rgba(75,75,75,1);

  --foregroundLight: rgba(50, 50, 50, 1);
  --backgroundLight: rgba(255, 255, 255, 1);
}

#NewEntry, #EditEntry{
  z-index: 1;
  position: fixed;
  background-color: var(--background);
  width: 100%;
  height: calc(var(--vh) * 77);
  top: calc(var(--vh) * 22.5);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}