:root{
  --background: var(--backgroundLight);
  --foreground: var(--foregroundLight);

  --buttonBackground: var(--buttonBackgroundLight);
  --buttonBorder: var(--buttonBorderLight);

  --buttonBackgroundLight: rgba(225, 225, 225, 1);
  --buttonBorderLight: rgba(75,75,75,1);

  --foregroundLight: rgba(50, 50, 50, 1);
  --backgroundLight: rgba(255, 255, 255, 1);

  --green: rgba(150, 225, 150, 1);
  --greenBorder: rgba(125, 175, 125, 1);
  --red: rgba(225, 150, 150, 1);
  --redBorder: rgba(175, 125, 125, 1);
}

.right{
  background-color: var(--green);
}

.wrong{
  background-color: var(--red);
}

.rightWrong{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid var(--foreground);
}